/* MASTER STYLE SHEET */
body {
  text-align: center;
  background-color: lightblue;
  font-family: 'Merriweather', serif;
  padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
/* CORE HEADING 1 */
h1 {
  color: white;
  font-size: 1.5em;
  padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
/* SECONDARY HEADING 1 STYLES */
h1 a {
  text-decoration: inherit;
  color: white;
}

.bodywrapper {
  display: block;
  text-align: center;
  padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
  background-color: lightblue;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
nav {
  padding: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  background-color: navy;
}
ul {
  list-style: none;
  padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
li {
  display: inline-block;
  padding-left: 1%;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
li a {
  text-decoration: none;
  font-family: monospace;
  color: white;
  padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color: white;
  font-size: 3em;
  padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.image {
  display: block;
  position: sticky;
  padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  bottom: 0;
}

.furryfriends {
  width: 60%;
  padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h3 span {
   color: white;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0);
   padding: 10px;
}

#logo {
  position: absolute;
  display: block;
  width: 100%;
}

#logo p {
  display: block;
  position: absolute;
  top: inherit;
  text-align: center;
  font-style: italic;
  width: 100%;
  color: white;

}
p {
  margin: 0;
}

footer {
  display: block;
  background-color: navy;
  padding: 0;
    padding-top: 0;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.bottom {
  display: inline;
  padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.gallerycontainer {
  display: block;
  text-align: center;
  padding-top: 3%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 3%;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.button {
  display: inline-block;
  text-align: center;
  font-style: italic;
  margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  padding: 3px;
}

#contactcontainer {
  display: block;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#activitiescontainer {
  display: block;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}
#accomcontainer {
  display: block;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}
